<div class="p-4 mt-2 mb-6 overflow-hidden rounded-b-lg shadow-none hover:shadow-xl">
      <a class="relative block h-48 overflow-hidden rounded">
        <img
          class="w-full transition duration-500 transform hover:scale-105"
          src="product.name"
          alt="product.name"
        />
      </a>

      <div class="mt-4">
        <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
          PRODUCT CATEGORY
        </h3>
        <h2 class="py-4 text-lg font-medium text-gray-900 title-font">
          <a>
            PRODUCT NAME
          </a>
        </h2>
            <!-- Add to cart BUTTON -->
      </div>
</div>
